/* https://color.adobe.com/search?q=weather */
:root {
    --darkest-blue: #083359;
    --darker-blue: #56738C;
    --blue: #4590BF;
    --lighter-blue: #9AC1D9;
    --lightest-blue: #E9EFF2;
    --reset-red: #F23838;
}

/* Materialize requires these body settings for the footer to stick to page bottom */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#brand_title{
    cursor: default;
}

#main_backdrop{
    min-height: 76vh;
}

a.secondary-content{
    cursor: default;
}

.secondary-content{
    color: var(--darker-blue);
}

.collection .collection-item{
    background-color: var(--lighter-blue);
}

.collection:hover .collection-item{
    background-color: var(--blue);
}

nav{
    background-color: var(--lighter-blue);
}

#search-button{
    background-color: var(--lighter-blue);
}

#reset-button{
    background-color: var(--reset-red);
}


/* label color */
.input-field label {
color: var(--darker-blue);
}
/* label focus color */
.input-field input[type=text]:focus + label {
color: var(--blue) !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
border-bottom: 1px solid var(--darkest-blue) !important;
box-shadow: 0 1px 0 0 var(--darkest-blue) !important;
}
/* valid color */
.input-field input[type=text].valid {
border-bottom: 1px solid var(--darkest-blue) !important;
box-shadow: 0 1px 0 0 var(--darkest-blue) !important;
}
/* invalid color */
.input-field input[type=text].invalid {
border-bottom: 1px solid var(--darkest-blue) !important;
box-shadow: 0 1px 0 0 var(--darkest-blue) !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
color: var(--darkest-blue) !important;
}
       